---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Base from "@/src/layouts/Base.astro";
import { QuizPlayer } from "@/src/components/QuizPlayer";
import { locales, translations } from "@/src/i18n";
import { Locale } from "@/src/types/quiz";
import { getHash } from "@/src/quiz-storage";

export const getStaticPaths: GetStaticPaths = async () => {
  const entries = await getCollection("quizzes");
  return locales.flatMap((locale) =>
    entries.map((entry) => ({
      params: { locale, id: entry.id },
    })),
  );
};

const { id, locale } = Astro.params;
const entries = await getCollection("quizzes");
const entry = entries.find((e) => e.id === id)!;
const quiz = entry.data;
const hash = getHash(quiz)
const name = quiz.frontmatter?.name ?? String(id);
const pageLocale = Locale.parse(locale)
const lang = quiz.frontmatter?.language ?? pageLocale
---

<Base title={name}>
  <div class="max-w-3xl mx-auto px-4 sm:px-6 py-6 sm:py-8">
    <QuizPlayer quizId={entry.id} quizName={name} quizHash={hash} quiz={quiz} translations={translations[lang]} locale={pageLocale} client:only="react" />
  </div>
</Base>
